@import "../../theme/sass/style.scss";

.menu {
  @media (max-width: 991px) {
    position: fixed !important;
    z-index: 99;
    width: 100%;
    background-color: $blackLight;
    padding-top: 1rem !important;
    top: -10px;
  }
  .menu__nav {
    display: flex;
    width: 100%;
    @media (max-width: 991px) {
      flex-direction: row-reverse;
      width: auto;
    }
    .search__openSearch {
      display: none;
      @media (max-width: 991px) {
        display: block;
        background-color: transparent;
        border: none;
        background-image: url("../../theme/images/icons/icon-search-yellow.svg");
        background-size: 30px;
        width: 72px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .navbar-collapse {
      width: 100%;
      @media (max-width: 991px) {
        position: absolute;
        top: 4rem;
        text-align: end;
        z-index: 9;
        .navbar-nav {
          width: 100vw;
          background-color: $blackLight;
        }
      }
    }
  }

  .navbar-nav {
    .navbar__link {
      color: $white !important;
      transition: color 0.5s ease-in-out;
      padding-left: 1rem;
      @include font-regular-second-bold;
      &:hover {
        color: $yellow !important;
        text-decoration: none;
      }
      @media (max-width: 991px) {
        padding-left: 0px;
        padding-right: 1.5rem;
      }
    }
  }
  .navbar-toggler {
    border: none;
    padding: 0px;
    .navbar-toggler-icon {
      background-image: url("../../theme/images/icons/ico-menu.svg");
    }
  }
}
